In [35]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [36]:
dataset = pd.read_csv('heart.csv')
df = pd.DataFrame(dataset)

In [37]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [38]:
df.shape

(918, 12)

In [39]:
df.isnull().values.any()

False

In [40]:
from sklearn.preprocessing import OneHotEncoder

#one_hot_encoded_data = pd.get_dummies(df, columns = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'])
#one_hot_encoded_data


categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']
X_categorical = df[categorical_cols]

onehotencoder = OneHotEncoder()

X_encoded = onehotencoder.fit_transform(X_categorical).toarray()
X_encoded_columns = onehotencoder.get_feature_names_out(categorical_cols)

X_numerical = df.drop(categorical_cols, axis=1)
X = pd.concat([X_numerical, pd.DataFrame(X_encoded, columns=X_encoded_columns)], axis=1)

df.drop(categorical_cols, axis=1, inplace=True)


df[X_encoded_columns] = pd.DataFrame(X_encoded, columns=X_encoded_columns)

df.head()
#df2 = onehotencoder.fit_transform(df[['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']]).toarray()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,...,ChestPainType_NAP,ChestPainType_TA,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ExerciseAngina_N,ExerciseAngina_Y,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
1,49,160,180,0,156,1.0,1,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,37,130,283,0,98,0.0,0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
3,48,138,214,0,108,1.5,1,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,54,150,195,0,122,0.0,0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [61]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
#Y_scaled = scaler.fit_transform(df[['HeartDisease']])
Y = df['HeartDisease']
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size=0.2, random_state=42)

In [63]:
X_train.shape
X_test.shape

(184, 21)

In [64]:
X_train

array([[-1.22099397, -0.66993455,  0.37686353, ...,  3.68394199,
        -1.00218103, -0.86905588],
       [-1.85743145, -0.12951283,  0.09330416, ..., -0.27144836,
        -1.00218103,  1.15067399],
       [ 0.2640268 ,  0.95133062,  0.12989247, ..., -0.27144836,
         0.99782372, -0.86905588],
       ...,
       [ 0.68831845, -0.12951283,  0.49577552, ..., -0.27144836,
        -1.00218103,  1.15067399],
       [ 0.68831845,  1.05941496, -1.81843477, ..., -0.27144836,
        -1.00218103,  1.15067399],
       [-1.4331398 ,  0.95133062,  1.76721911, ..., -0.27144836,
         0.99782372, -0.86905588]])

In [65]:
from sklearn.linear_model import LogisticRegression

LogReg_model = LogisticRegression()
LogReg_model.fit(X_train, Y_train)
LogReg_model.score(X_test, Y_test)

1.0

In [66]:
from sklearn.linear_model import LinearRegression

LR_model = LinearRegression()
LR_model.fit(X_train, Y_train)
LR_model.score(X_test, Y_test)

1.0

In [67]:
Y_train

795    0
25     0
84     1
10     0
344    1
      ..
106    0
270    0
860    1
435    0
102    1
Name: HeartDisease, Length: 734, dtype: int64